<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>criar produto</h1>

    <form action="/adicionar-produto" method="POST">
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome">

        <label for="preco">Preço</label>
        <input type="text" name="preco" id="preco">

        <button type="submit">Criar</button>
    </form>
</body>
</html>